<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Credenciamento
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page4">
  <ion-list id="pPAConsultasPBlicas-list4">
    <ion-item color="none" on-click="open_page(credenciamento_page)">
      Credenciar Pessoa
    </ion-item>
    <ion-item color="none" on-click="open_page(credenciamento_painel)">
      Painel de Credenciamento
    </ion-item>
    <ion-item color="none" on-click="open_page(credenciamento_cidades)">
      Participantes por Cidade
    </ion-item>
    <ion-item color="none" on-click="open_page(credenciamento_categoria)">
      Participantes por Categoria
    </ion-item>
    <ion-item color="none" on-click="open_page(credenciamento_buscar)">
      Buscar Participante
    </ion-item>
  </ion-list>
</ion-content>