<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Devolução
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page9">
  <form id="devoluO-form8">
    <ion-item id="devoluO-input12">
      <ion-label>
        Tag
      </ion-label>
      <ion-input autofocus="true" type="text" placeholder="123456789" name="tag" [(ngModel)]="tag" (keyup.enter)="register()"></ion-input>
    </ion-item>
  </form>
  <button id="devoluO-button7" ion-button color="positive" block (click)="register()">
    Registrar Devolução
  </button>
  <ion-card *ngIf="show_card && result_data.status" color="secondary">
    <ion-card-header>
      <ion-card-title>Sucesso!</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-icon name="alert" *ngIf="result_data.alert"></ion-icon>
      {{result_data.mensagem}}
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="show_card && !result_data.status" color="danger">
    <ion-card-header>
      <ion-card-title>Atenção!</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      {{result_data.mensagem}}
    </ion-card-content>
  </ion-card>
</ion-content>