<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Votação {{votation}}
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page3">
  <div *ngIf="result_data.status">
    <div *ngIf="!show_votation">
      <form id="votaO-form3">
        <ion-item id="votaO-input2">
          <ion-label>
            Tag
          </ion-label>
          <ion-input autofocus="true" type="number" placeholder="123456789" name="tag" (keyup.enter)="show_votation=true" [(ngModel)]="tag"></ion-input>
        </ion-item>
      </form>
      <button id="votaO-button2" ion-button color="positive" block (click)="show_votation=true">
        Continuar
      </button>
    </div>

    <div *ngIf="show_votation">
      <ion-list>
        <ion-item *ngFor="let reply of replies" color="none" on-click="enviar_voto(reply.code)" id="pPAConsultasPBlicas-list-item10" class="custom-font-size">
          <ion-icon name="checkbox" item-left></ion-icon>
          {{reply.name}}
        </ion-item>
      </ion-list>
    </div>
  </div>

  <ion-card *ngIf="!result_data.status" color="danger">
    <ion-card-header>
      <ion-card-title>Atenção!</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      {{result_data.mensagem}}
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="!show_votation && show_card && !result_vote.status" color="danger">
    <ion-card-header>
      <ion-card-title>Atenção!</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      {{result_vote.mensagem}}
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="!show_votation && show_card && result_vote.status" color="positive">
    <ion-card-header>
      <ion-card-title>Voto Computado Com Sucesso!</ion-card-title>
    </ion-card-header>
  </ion-card>



</ion-content>