<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      PPA - Consultas Públicas
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page1">
  <ion-list id="pPAConsultasPBlicas-list4">
    <ion-item color="none" on-click="goToCredenciamento()" id="pPAConsultasPBlicas-list-item10">
      <ion-icon name="person" item-left></ion-icon>
      Credenciamento
    </ion-item>
    <ion-item color="none" on-click="goToSelecionaArea()" id="pPAConsultasPBlicas-list-item11">
      <ion-icon name="code-working" item-left></ion-icon>
      Registros
    </ion-item>
    <ion-item color="none" on-click="goToSelecionaVotaO()" id="pPAConsultasPBlicas-list-item12">
      <ion-icon name="chatbubbles" item-left></ion-icon>
      Votação
    </ion-item>
    <ion-item color="none" on-click="goToDevoluO({})" id="pPAConsultasPBlicas-list-item13">
      <ion-icon name="log-in" item-left></ion-icon>
      Devolução de Tag
    </ion-item>
  </ion-list>
</ion-content>