<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Criar Área
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page6">
    <ion-item id="criarRea-input4">
      <ion-label>
        Nome da Área
      </ion-label>
      <ion-input type="text" placeholder="Almoço" name="name" [(ngModel)]="area.name"></ion-input>
    </ion-item>
    <ion-item id="criarRea-input5">
      <ion-label>
        Descrição
      </ion-label>
      <ion-input type="text" placeholder="Almoço Gurupi" name="description" [(ngModel)]="area.description"></ion-input>
    </ion-item>
    <ion-item id="criarRea-input6">
      <ion-label>
        Limite de Registros
      </ion-label>
      <ion-input type="number" placeholder="1" name="limit" [(ngModel)]="area.limit"></ion-input>
    </ion-item>
    <ion-item id="criarRea-input7">
      <ion-label>
        Código da Área
      </ion-label>
      <ion-input type="text" placeholder="E1T1" name="code_area" [(ngModel)]="area.code"></ion-input>
    </ion-item>
    <ion-item id="criarRea-input8">
      <ion-label>
        Webhook
      </ion-label>
      <ion-input type="text" placeholder="http://localhost:3000" name="webhook" [(ngModel)]="area.webhook"></ion-input>
    </ion-item>
    <ion-item id="criarRea-input10">
      <ion-label>
        ThemeID
      </ion-label>
      <ion-input type="number" placeholder="1" name="theme_id" [(ngModel)]="area.theme_id"></ion-input>
    </ion-item>
    <ion-item id="criarRea-input11">
      <ion-label>
        EventID
      </ion-label>
      <ion-input type="number" placeholder="1" name="event_id" [(ngModel)]="area.event_id"></ion-input>
    </ion-item>
    <ion-item id="criarRea-toggle1">
      <ion-label>
        Registro de Saída
      </ion-label>
      <ion-toggle color="positive" checked="false" [(ngModel)]="area.exit_register"></ion-toggle>
    </ion-item>
  <button id="criarRea-button5" ion-button color="positive" block on-click="registrar()">
    Salvar Área
  </button>
</ion-content>