<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Configurar
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page10">
  <form id="configurar-form9">
    <ion-item id="configurar-input13">
      <ion-label>
        PPA Host
      </ion-label>
      <ion-input type="text" placeholder="http://nomedoservidor" name="ppa_host" [(ngModel)]="ppa_host"></ion-input>
    </ion-item>
    <ion-item id="configurar-input14">
      <ion-label>
        Tag Host
      </ion-label>
      <ion-input type="text" placeholder="http://nomedoservidor" name="tag_host" [(ngModel)]="tag_host"></ion-input>
    </ion-item>
    <ion-item id="configurar-input14">
      <ion-label>
        EventID
      </ion-label>
      <ion-input type="number" placeholder="1" name="event_id" [(ngModel)]="event_id"></ion-input>
    </ion-item>
    <ion-item id="configurar-input14">
      <ion-label>
        ThemeID
      </ion-label>
      <ion-input type="number" placeholder="2" name="theme_id" [(ngModel)]="theme_id"></ion-input>
    </ion-item>
  </form>
  <button id="configurar-button8" ion-button color="positive" block (click)="salvar()">
    Enviar Registros
  </button>

  <button ion-button color="positive" block (click)=" goToCriarArea()">
    Criar Nova Área
  </button>
</ion-content>
