<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Seleciona Area
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page5">
  <div id="selecionaArea-markdown2" style="text-align:center;" class="show-list-numbers-and-dots">
    <p style="color:#000000;">
      Informe o código da área aonde será realizado o registro. Solicite informações à equipe de apoio caso não tenha essa informação.
    </p>
  </div>
  <form id="selecionaArea-form5">
    <ion-item id="selecionaArea-input3">
      <ion-label>
        Código
      </ion-label>
      <ion-input type="text" placeholder="123456" name="area" [(ngModel)]="area"></ion-input>
    </ion-item>
  </form>
  <button id="selecionaArea-button4" ion-button color="positive" block on-click="goToRegistro({})">
    Registrar em {{area}}
  </button>
</ion-content>