<ion-menu [content]="mainContent">
  <ion-header>
    <ion-toolbar>
      <ion-title>
        Menu
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content id="side-menu21">
    <ion-list id="menu-list2">
      <ion-list id="menu-list3">
        <ion-item color="none" menuClose="" on-click="goToCredenciamento()" id="menu-list-item7">
          <ion-icon name="person" item-left></ion-icon>
          Credenciamento
        </ion-item>
        <ion-item color="none" menuClose="" on-click="goToSelecionaArea()" id="menu-list-item8">
          <ion-icon name="code-working" item-left></ion-icon>
          Registro
        </ion-item>
        <ion-item color="none" menuClose="" on-click="goToSelecionaVotaO()" id="menu-list-item9">
          <ion-icon name="chatbubbles" item-left></ion-icon>
          Votação
        </ion-item>
        <ion-item color="none" menuClose="" on-click="goToSelecionaVotaO()" id="menu-list-item14">
          <ion-icon name="exit" item-left></ion-icon>
          Devolução da Tag
        </ion-item>
        <ion-item color="none" menuClose="" on-click="goToConfigurar()" id="menu-list-item15">
          <ion-icon name="settings" item-left></ion-icon>
          Configurações
        </ion-item>
      </ion-list>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-nav #mainContent [root]="rootPage"></ion-nav>