<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Seleciona Votação
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page2">
  <div id="selecionaVotaO-markdown1" class="show-list-numbers-and-dots">
    <p style="color:#000000;">
      Insira o código de votação fornecido pelo aplicativo das consultas públicas
    </p>
  </div>
  <form id="selecionaVotaO-form1">
    <ion-item id="selecionaVotaO-input1">
      <ion-label>
        Código da Votação
      </ion-label>
      <ion-input type="text" placeholder="E1T2" name="votation" [(ngModel)]="votation"></ion-input>
    </ion-item>
  </form>
  <button id="selecionaVotaO-button1" ion-button color="positive" block on-click="goToVotaO({})">
    Abrir Votação
  </button>
</ion-content>