<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Registrar em {{area}}
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page7">
  <form id="registro-form7">
    <ion-item id="registro-input9">
      <ion-label>
        Tag
      </ion-label>
      <ion-input type="number" autofocus="true" placeholder="123456789" name="tag" (keyup.enter)="register()" [(ngModel)]="tag"></ion-input>
    </ion-item>
  </form>
  <button id="registro-button6" ion-button color="positive" block (click)="register()">
    Registrar
  </button>
  <ion-card *ngIf="show_card && result_data.status" color="secondary">
    <ion-card-header>
      <ion-card-title>{{result_data.person.name}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-icon name="alert" *ngIf="result_data.alert"></ion-icon>
      {{result_data.mensagem}}
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="show_card && !result_data.status" color="danger">
    <ion-card-header>
      <ion-card-title>Atenção!</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      {{result_data.mensagem}}
    </ion-card-content>
  </ion-card>
</ion-content>